@model ProyectoFinalAlvaradoMoraMauricio.Models.Curso

@{
    ViewData["Title"] = "Editar curso";
}

<h1>Editar curso</h1>

<h4>Curso</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="CursoId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Codigo" class="form-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Creditos" class="form-label"></label>
                <input asp-for="Creditos" class="form-control" />
                <span asp-validation-for="Creditos" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CarreraId" class="form-label"></label>
                <select asp-for="CarreraId" class="form-select" asp-items="ViewBag.CarreraId"></select>
                <span asp-validation-for="CarreraId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-success">Guardar cambios</button>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
